body {
    background-color: #1f0e36;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    color: white;
    font-size: 60px;
}

.butHome {
    width: 450px;
    height: 250px;
    background-color: #bbb85d;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    color: #ed3d3e;
    border: #ed3d3e;
    font-size: 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
}

.divDosCajas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
}

.divFunciones {
    display: flex;
    flex-direction: row;
}


.divCaja20 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 1200px;
    flex-wrap: wrap;
    margin-left: 80px;
}




.divButVolver {
    margin: 0 auto;
    width: 1500px;
}

.divButVolver button {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    border: solid white 1px;
    color: #ed3d3e;
    
}

